# folders
.vscode/**
.vscode-test/**
src
out
node_modules
test
__mocks__
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
*.log
*.vsix

# Specific files
.gitignore
webpack.config.js
CONTRIBUTING.md
package-lock.json
yarn.lock
.editorconfig
.prettierrc
.yarnrc
.mewrc.json

# Special exclusions
assets
!assets/images/icon.png